<div id="leftSide" class="primary-bg p-0 m-0">
    <div class="lang-select d-flex align-items-center" role="navigation">
        <a href="#" (click)="changeLang('de')"><img alt="DE" role="link" src="/img/de.webp" title="Deutsch"></a>
        <a href="#" (click)="changeLang('en')"><img alt="EN" role="link" src="/img/en.webp" title="English"></a>
        <a href="#" (click)="changeLang('fr')"><img alt="FR" role="link" src="/img/fr.webp" title="Français"></a>
        <div>
            <fa-icon [icon]="faSun" class="ms-2"></fa-icon>
            <div class="form-check form-check-inline form-switch ms-2 me-1">
                <label class="form-check-label" for="darkMode">
                    <input
                        id="darkMode"
                        name="darkMode"
                        type="checkbox"
                        role="switch"
                        class="form-check-input"
                        [(ngModel)]="darkMode"
                        (change)="toggleMode($event)"
                    />
                    <fa-icon [icon]="faMoon" class="mt-1"></fa-icon>
                </label>
            </div>
        </div>
    </div>
    <div class="mx-auto mt-5 primary-text text-center mb-md-0 mb-sm-4">
        <img src="/img/avatar.webp" title="Sebastian P. - FULL STACK DEVELOPER" alt="picture from www.w3schools.com "
             class="rounded-circle image" height="250" width="250" priority>
        <div class="mt-4">
            <h1 class="text-uppercase">{{ 'owner-name' | i18n }}</h1>
        </div>
        <div class="mt-4 primary-dark-bg p-2 d-flex align-items-center justify-content-center">
            <fa-icon [icon]="faLayerGroup" class="me-2"></fa-icon>
            <h2 class="text-uppercase font-italic">{{ 'owner-job-name' | i18n }}</h2>
            <fa-icon [icon]="faLaptopCode" class="ms-2"></fa-icon>
        </div>
        <app-contact-list></app-contact-list>
        <app-left-title dataI18n="skills-title"></app-left-title>
        <div id="skills" class="row">
            @for (skill of SKILLS_CONFIG; track $index) {
                <app-skill-container
                    [icon]="skill.icon"
                    [iconClass]="skill.iconClass || ''"
                    [text]="getSkillText(skill)"
                ></app-skill-container>
            }
        </div>
        <app-left-title dataI18n="projects-title"></app-left-title>
        <div id="hobby-projects">
            @for (project of HOBBY_PROJECTS_CONFIG; track $index) {
                <app-hobby-project-item
                    [icon]="project.icon"
                    [dataI18n]="project.dataI18n"
                    [text]="project.text"
                    [href]="project.href"
                ></app-hobby-project-item>
            }
        </div>
        <app-left-title text="Services"></app-left-title>
        <div id="services">
            @for (service of SERVICES_CONFIG; track $index) {
				<app-service-item
					[icon]="service.icon"
					[dataI18n]="service.dataI18n"
				></app-service-item>
            }
        </div>
        <app-left-title dataI18n="hobbies-title"></app-left-title>
        <div class="ms-sm-3 text-start mb-4">
            <div class="row g-0 hobbies">
                @for (hobby of HOBBIES_CONFIG; track $index) {
                    <app-hobby-item
                        class="col-md-6 col-sm-4 col-12"
						[icon]="hobby.icon"
						[dataI18n]="hobby.dataI18n"
                    ></app-hobby-item>
                }
            </div>
        </div>
        <app-footer [isDesktop]="true"></app-footer>
    </div>
</div>
