<div id="rightSide" class="secondary-bg ps-lg-3 p-0">
    <section class="mt-md-3 mt-sm-0">
        <app-right-title [icon]="faUser" dataI18n="profile-title"></app-right-title>
        <div class="container">
            <div class="row">
                <div class="col-xxl-10 col-12">
                    <p [innerHTML]="'profile-begin' | i18nHtml"></p>
                    <p [innerHTML]="'profile-other' | i18nHtml"></p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <app-right-title [icon]="faGraduationCap" dataI18n="education-title"></app-right-title>
        <div class="container">
            <ol class="list-unstyled timeline">
                <li>
                    <h2><span>{{ 'education-secondary-title' | i18n }}</span> - 2014</h2>
                    <p [innerHTML]="'education-secondary-text' | i18nHtml"></p>
                </li>
                <li>
                    <h2><span>{{ 'education-high-title' | i18n }}</span> - 2017</h2>
                    <p [innerHTML]="'education-high-text' | i18nHtml"></p>
                </li>
                <li>
                    <h2><span>{{ 'education-bachelor-title' | i18n }}</span> - 2020</h2>
                    <p [innerHTML]="'education-bachelor-text' | i18nHtml"></p>
                    <p class="mb-0">
                        <span>{{ 'education-bachelor-subjects' | i18n }}</span>:
                    </p>
                    <ul class="lul">
                        <li>
                            <fa-icon [icon]="faCircle"></fa-icon>
                            <span>{{ 'education-bachelor-subject-ads' | i18n }}</span>
                        </li>
                        <li>
                            <fa-icon [icon]="faCircle"></fa-icon>
                            <span>{{ 'education-bachelor-math' | i18n }}</span>
                        </li>
                        <li>
                            <fa-icon [icon]="faCircle"></fa-icon>
                            <span>{{ 'education-bachelor-programming' | i18n }}</span>
                        </li>
                        <li>
                            <fa-icon [icon]="faCircle"></fa-icon>
                            <span>{{ 'education-bachelor-fp' | i18n }}</span>
                        </li>
                        <li>
                            <fa-icon [icon]="faCircle"></fa-icon>
                            <span>{{ 'education-bachelor-afl' | i18n }}</span>
                        </li>
                        <li>
                            <fa-icon [icon]="faCircle"></fa-icon>
                            <span>{{ 'education-bachelor-ai' | i18n }}</span>
                        </li>
                        <li>
                            <fa-icon [icon]="faCircle"></fa-icon>
                            <span>{{ 'education-bachelor-mr' | i18n }}</span>
                        </li>
                        <li>
                            <fa-icon [icon]="faCircle"></fa-icon>
                            <span [innerHTML]="'education-bachelor-th' | i18nHtml"></span>
                        </li>
                    </ul>
                </li>
                <li>
                    <h2 class="mt-c" [innerHTML]="'education-master-title' | i18nHtml"></h2>
                    <p [innerHTML]="'education-master-text' | i18nHtml"></p>
                    <p class="mb-0">
                        <span>{{ 'education-master-subjects' | i18n }}</span>:
                    </p>
                    <ul class="lur">
                        <li>
                            <fa-icon [icon]="faCircle" class="t-list-l"></fa-icon>
                            <span>{{ 'education-master-3d' | i18n }}</span>
                            <fa-icon [icon]="faCircle" class="t-list-r"></fa-icon>
                        </li>
                        <li>
                            <fa-icon [icon]="faCircle" class="t-list-l"></fa-icon>
                            <span>{{ 'education-master-alg' | i18n }}</span>
                            <fa-icon [icon]="faCircle" class="t-list-r"></fa-icon>
                        </li>
                        <li>
                            <fa-icon [icon]="faCircle" class="t-list-l"></fa-icon>
                            <span>{{ 'education-master-prog' | i18n }}</span>
                            <fa-icon [icon]="faCircle" class="t-list-r"></fa-icon>
                        </li>
                        <li>
                            <fa-icon [icon]="faCircle" class="t-list-l"></fa-icon>
                            <span>{{ 'education-master-mr' | i18n }}</span>
                            <fa-icon [icon]="faCircle" class="t-list-r"></fa-icon>
                        </li>
                        <li>
                            <fa-icon [icon]="faCircle" class="t-list-l"></fa-icon>
                            <span>{{ 'education-master-visu' | i18n }}</span>
                            <fa-icon [icon]="faCircle" class="t-list-r"></fa-icon>
                        </li>
                        <li>
                            <fa-icon [icon]="faCircle" class="t-list-l"></fa-icon>
                            <span>{{ 'education-master-ivra' | i18n }}</span>
                            <fa-icon [icon]="faCircle" class="t-list-r"></fa-icon>
                        </li>
                        <li>
                            <fa-icon [icon]="faCircle" class="t-list-l"></fa-icon>
                            <span>{{ 'education-master-cry' | i18n }}</span>
                            <fa-icon [icon]="faCircle" class="t-list-r"></fa-icon>
                        </li>
                        <li>
                            <fa-icon [icon]="faCircle" class="t-list-l"></fa-icon>
                            <span>{{ 'education-master-oagr' | i18n }}</span>
                            <fa-icon [icon]="faCircle" class="t-list-r"></fa-icon>
                        </li>
                        <li>
                            <fa-icon [icon]="faCircle" class="t-list-l"></fa-icon>
                            <span [innerHTML]="'education-master-team' | i18nHtml"></span>
                            <fa-icon [icon]="faCircle" class="t-list-r"></fa-icon>
                        </li>
                        <li>
                            <fa-icon [icon]="faCircle" class="t-list-l"></fa-icon>
                            <span [innerHTML]="'education-master-th' | i18nHtml"></span>
                            <fa-icon [icon]="faCircle" class="t-list-r"></fa-icon>
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
    </section>
    <app-commission-list></app-commission-list>
    <app-project-list></app-project-list>
    <app-experience-list></app-experience-list>
    <app-footer [isDesktop]="false"></app-footer>
</div>
