<div id="rightSide" class="secondary-bg ps-lg-3 p-0">
    <section class="mt-md-3 mt-sm-0">
        <app-right-title [icon]="faUser" dataI18n="profile-title"></app-right-title>
        <div class="container">
            <div class="row">
                <div class="col-xxl-10 col-12">
                    <p [innerHTML]="'profile-begin' | i18nHtml"></p>
                    <p [innerHTML]="'profile-other' | i18nHtml"></p>
                </div>
            </div>
        </div>
    </section>
    <app-education-list></app-education-list>
    <app-commission-list></app-commission-list>
    <app-project-list></app-project-list>
    <app-experience-list></app-experience-list>
	<app-science-list></app-science-list>
    <app-footer [isDesktop]="false"></app-footer>
</div>
