<div class="container-fluid">
    <div class="row">
        <app-left-container [changeLang]="changeLang" [toggleMode]="onToggleMode" [(darkMode)]="darkMode"></app-left-container>
        <app-right-container></app-right-container>
    </div>
</div>

<!-- slow css -->
<link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/fontawesome.min.css"
      integrity="sha512-lauN4D/0AgFUGvmMR+knQnbOADyD/XuQ8VF18I8Ll0+TLvsujshyxvU+uzogmQbSq6qJd5jnUdYtK8ShxXMlSg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/solid.css"
      integrity="sha512-nnXdb3HF69w8voQ09SKw5op0vE2izLVpMWBJQK4+4rzM7QoP0ACQgnZci5HIg9jQWdgwrDw0QKtCX+w5xKy8eA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/brands.css"
      integrity="sha512-5uHmUitBq3RTEHpeaxERv+9u9KNIywIeMatGMvNOTXLG3pzK2t5BfvHPlYWdO+jfZG6UJdjxngiJftm2Km6M4g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- javascript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"
        async defer></script>

<router-outlet/>
