/* ==================================================================================================================
 *
 * poetter-sebastian.github.io - color
 *
 * ==================================================================================================================*/
$primary-bg: #17a2b8
$primary-text: white
$primary-dark-text: white
$primary-dark-bg: #343a40
$primary-light-text: #343a40
$primary-light-bg: white

$secondary-bg: #ffc107
$secondary-text: #343a40
$secondary-dark-text: white
$secondary-dark-bg: #343a40
$secondary-light-text: white
$secondary-light-bg: white
