/* ====================================================================================================================
 *
 * Copyright © 2020 Sebastian P. All Rights Reserved
 *
 * ====================================================================================================================*/
@import color.sass
@import timeline.sass
@import line.sass
/* ====================================================================================================================
 *
 * sebastian.github.io - default
 *
 * ====================================================================================================================*/
/* ====================================================================================================================
 *
 * sebastian.github.io - Main
 *
 * ====================================================================================================================*/
.lang-select
  position: absolute
  top: 0
  left: 0
  img
    height: 45px
    width: 45px
#leftSide
  background-color: $primary-bg
  color: $primary-text
  a
    color: $primary-text
    text-decoration: underline
    &:hover
      color: $secondary-bg
#contact
  padding: 0
  margin: 0
  div
    margin-bottom: 0.5rem
    > div:first-child
      text-align: right
      padding: 0.5rem 1rem 0.5rem 0.5rem
      i
        font-size: 2rem
    > div:last-child
      text-align: left
      padding: 0.6rem 1rem
      a
        color: $primary-text
  @media (min-width: 1300px)
.hobbies
  div
    padding: 0.5rem 0 0.5rem 0
    font-size: 1.5rem
  i
    width: 3.8rem
    height: 3.5rem
  span
    font-size: 1rem

.p-3-5
  padding: 1rem 2rem 1rem 1.1rem !important
  font-size: 1.7rem
.p-3-4
  padding: 1rem 2rem 1rem 0.9rem !important
  font-size: 1.7rem
.right-title
  span
    background-color: $secondary-dark-bg !important
    color: $secondary-dark-text
    text-align: left
  i
    text-align: right
#skills
  font-size: 1.1rem
  >div>div
    padding: 1.5rem 0.5rem 1.5rem 0.5rem !important
  >div:nth-child(2n)
    >div:first-child
      background-color: $primary-dark-bg
      color: $primary-dark-text
    >div:last-child
      background-color: $primary-bg
      color: $primary-text
  >div:nth-child(2n+1)
    >div:first-child
      background-color: $primary-bg
      color: $primary-text
    >div:last-child
      background-color: $primary-dark-bg
      color: $primary-dark-text

#commissions
  a
    text-decoration: none !important

.footer
  margin-top: 5vh

.primary-text
  color: $primary-text
.primary-bg
  background-color: $primary-bg
  color: $primary-text
  a
    color: $primary-text
.primary-dark-text
  color: $primary-dark-text
.primary-dark-bg
  background-color: $primary-dark-bg
  color: $primary-dark-text
.primary-light-text
  color: $primary-light-text
.primary-light-bg
  background-color: $primary-light-bg
  color: $primary-light-text
.secondary-text
  color: $secondary-text
.secondary-bg
  background-color: $secondary-bg
  color: $secondary-text
  a
    color: $secondary-text
    text-decoration: underline
    &:hover
      color: $primary-bg
.secondary-dark-text
  color: $secondary-dark-text
.secondary-dark-bg
  background-color: $secondary-dark-bg
  color: $secondary-dark-text
.secondary-light-text
  color: $secondary-light-text
.secondary-light-bg
  background-color: $secondary-light-bg
  color: $secondary-light-text
.card
  background-color: transparent
  border: none
  min-height: 150px
  margin: 20px 0 24px 0
  img
    width: 100%
    object-fit: scale-down
    height: 6rem
.image
  max-width: 200px
  max-height: 200px

@media (max-width: 575px)
  .offset-xs-4
    margin-left: 33.333333%
