@charset "UTF-8";
/* ====================================================================================================================
 * *
 * * Copyright © 2020 Sebastian P. All Rights Reserved - 2025
 * *
 * * ====================================================================================================================*/
/* ==================================================================================================================
 * *
 * * poetter-sebastian.github.io - fonts - 2025
 * *
 * * ==================================================================================================================*/
@font-face {
  font-family: OpenSans;
  src: url("/font/OpenSans-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: SpaceGrotesk;
  src: url("/font/SpaceGrotesk-Regular.ttf");
  font-display: swap;
}
/* ==================================================================================================================
 * *
 * * poetter-sebastian.github.io - color - 2025
 * *
 * * ==================================================================================================================*/
.box, .box-mit-rahmen {
  padding: 10px;
}

.box-mit-rahmen {
  border: 1px solid red;
}

body {
  --primary-bg: #2e6d6a;
  --primary-bg-transpararent: rgba(12, 60, 58, 0.15);
  --primary-text: #ffeff7;
  --primary-dark-text: #ffeff7;
  --primary-dark-bg: #0c3c3a;
  --primary-light-text: #0c3c3a;
  --primary-light-bg: #ffeff7;
  --secondary-bg: #fff2f4;
  --secondary-bg-transparent: rgba(255, 242, 244, 0.15);
  --secondary-text: #0c3c3a;
  --secondary-dark-text: #ffeff7;
  --secondary-dark-bg: #0c3c3a;
  --secondary-light-text: #ffeff7;
  --secondary-light-bg: #ffeff7;
  --secondary-light-bg-trans: rgba(255, 239, 247, 0.25);
}

body.dark-theme {
  --primary-bg: #441f34;
  --primary-bg-transpararent: rgba(56, 20, 40, 0.15);
  --primary-text: #c4d3e1;
  --primary-dark-text: #adbac7;
  --primary-dark-bg: #381428;
  --primary-light-text: #0c3c3a;
  --primary-light-bg: #2e6d6a;
  --secondary-bg: #1c2128;
  --secondary-bg-transparent: rgba(28, 33, 40, 0.15);
  --secondary-text: #adbac7;
  --secondary-dark-text: #f8f8f8;
  --secondary-dark-bg: #313d4f;
  --secondary-light-text: #347d39;
  --secondary-light-bg: #4d243b;
  --secondary-light-bg-trans: rgba(77, 36, 59, 0.25);
}

/* ==================================================================================================================
 * *
 * * poetter-sebastian.github.io - timeline - 2025
 * *
 * * ==================================================================================================================*/
.lul {
  list-style: none !important;
  padding-left: 1.5em;
}

.lur {
  list-style: none !important;
  padding-right: 1.5em;
}

.lul li > span {
  padding-left: 5px;
}

.lur li > span {
  padding-right: 5px;
}

.t-list-r {
  display: none !important;
}

.t-list-l {
  display: inline-block !important;
  margin-left: -15px;
}

.mt-c {
  margin-top: 1rem;
}

@media (min-width: 1450px) {
  .mt-c {
    margin: 0;
  }
  .t-list-r {
    display: inline-block !important;
  }
  .t-list-l {
    display: none !important;
  }
  .timeline {
    margin-left: 5rem;
  }
  .timeline:before, .timeline:after {
    content: "";
    background: var(--secondary-bg);
    width: 5px;
    height: 60px;
    position: absolute;
    z-index: 2;
    margin: 0 0 0 -1px;
  }
  .timeline:after {
    height: 90px;
    margin: -80px 0 0 -1px;
  }
  .timeline > li {
    border: 2px solid;
    border-color: var(--secondary-text) !important;
    margin: 0 0 -2px 0;
    padding: 30px;
    counter-increment: li;
    position: relative;
    width: 42rem;
  }
  .timeline > li:nth-child(odd):before, .timeline > li:nth-child(even):before {
    content: counter(li);
    display: flex;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    position: absolute;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: var(--secondary-dark-bg);
    color: var(--secondary-dark-text);
    font-weight: bold;
    z-index: 3;
  }
  .timeline > li:nth-child(odd):before {
    right: 100%;
    margin-right: -25px;
  }
  .timeline > li:nth-child(even):before {
    left: 100%;
    margin-left: -25px;
  }
  .timeline > li:nth-child(odd) {
    border-right: none;
    border-left: 2px solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 30px;
    padding-right: 0;
  }
  .timeline > li:nth-child(even) {
    border-left: none;
    border-right: 2px solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 30px;
    padding-left: 0;
    text-align: right;
  }
  .timeline > li:first-child {
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .timeline > li:last-child {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
/* ==================================================================================================================
 * *
 * * poetter-sebastian.github.io - dark mode - 2025
 * *
 * * ==================================================================================================================*/
body.dark-theme a:hover {
  color: var(--secondary-dark-text) !important;
}
body.dark-theme a:hover span {
  color: var(--secondary-dark-text) !important;
}
body.dark-theme .modal-content {
  background-color: var(--secondary-bg);
  color: var(--primary-text) !important;
}
body.dark-theme .btn-close {
  background-color: var(--primary-bg);
}
body.dark-theme .btn-close:hover {
  background-color: var(--secondary-dark-bg);
}

app-project-list {
  --border-width: 2px;
}

#skills {
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  font-size: 1.1rem;
}
#skills app-skill-container, #skills div {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem !important;
}
@media ((min-width: 576px) and (max-width: 767px)), (min-width: 992px) {
  #skills > app-skill-container:nth-child(4n), #skills > div:nth-child(4n) {
    background-color: var(--primary-dark-bg);
    color: var(--primary-dark-text);
  }
  #skills > app-skill-container:nth-child(4n-3), #skills > div:nth-child(4n-3) {
    background-color: var(--primary-dark-bg);
    color: var(--primary-dark-text);
  }
}
@media (max-width: 575px), ((min-width: 768px) and (max-width: 991px)) {
  #skills > app-skill-container:nth-child(2n), #skills > div:nth-child(2n) {
    background-color: var(--primary-dark-bg);
    color: var(--primary-dark-text);
  }
}

.right-title span {
  background-color: var(--secondary-dark-bg) !important;
  color: var(--secondary-dark-text);
  text-align: left;
}
.right-title fa-icon {
  text-align: right;
}

/* ====================================================================================================================
 * *
 * * sebastian.github.io - default
 * *
 * * ====================================================================================================================*/
:root {
  --bs-body-font-family: 'system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"';
  color-scheme: light dark;
}

body {
  hyphens: auto;
}

p, span, p, ul, li, a, .btn {
  font-family: OpenSans, sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, h1 span, h2 span {
  line-height: 1.4 !important;
  font-family: SpaceGrotesk, sans-serif;
}

/* ====================================================================================================================
 * *
 * * sebastian.github.io - Main
 * *
 * * ====================================================================================================================*/
#contact {
  padding: 0;
  margin: 0;
}
#contact div {
  margin-bottom: 0.5rem;
}
#contact div > div:first-child {
  text-align: right;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}
#contact div > div:first-child fa-icon {
  font-size: 2rem;
}
#contact div > div:last-child {
  text-align: left;
  padding: 0.6rem 1rem;
}
#contact div > div:last-child a {
  color: var(--primary-text);
}

.hobbies div {
  padding: 0.5rem 0 0.5rem 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.hobbies fa-icon {
  width: 3.8rem;
  height: 3.5rem;
  display: inline-block;
}
.hobbies span {
  font-size: 1rem;
}

.text-uppercase > fa-icon {
  align-self: center;
}

.dark-theme .card-title {
  color: var(--primary-text);
}

#hobby-projects, #services {
  padding: 0;
  margin: 0;
}
#hobby-projects .item, #services .item {
  margin-bottom: 0.5rem;
}
#hobby-projects .item > div:first-child, #services .item > div:first-child {
  padding: 0.6rem 1rem;
}
#hobby-projects .item > div:first-child fa-icon, #services .item > div:first-child fa-icon {
  font-size: 1.3rem;
}
#hobby-projects .item > div:last-child, #services .item > div:last-child {
  padding: 0.5rem 0 0.5rem 1rem;
}
#hobby-projects .item > div:last-child a, #services .item > div:last-child a {
  color: var(--primary-text);
}
#hobby-projects .item > div:last-child fa-icon, #services .item > div:last-child fa-icon {
  font-size: 1.3rem;
}

.primary-text {
  color: var(--primary-text);
}

.primary-bg {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}
.primary-bg a {
  color: var(--primary-text);
}

.primary-dark-text {
  color: var(--primary-dark-text);
}

.primary-dark-bg {
  background-color: var(--primary-dark-bg);
  color: var(--primary-dark-text);
}

.primary-light-text {
  color: var(--primary-light-text);
}

.primary-light-bg {
  background-color: var(--primary-light-bg);
  color: var(--primary-light-text);
}

.secondary-text {
  color: var(--secondary-text);
}

.secondary-bg {
  background-color: var(--secondary-bg);
  color: var(--secondary-text);
}
.secondary-bg a {
  color: var(--secondary-text);
  text-decoration: underline;
}
.secondary-bg a:hover {
  color: var(--primary-bg);
}

.secondary-dark-text {
  color: var(--secondary-dark-text);
}

.secondary-dark-bg {
  background-color: var(--secondary-dark-bg);
  color: var(--secondary-dark-text);
}

.secondary-light-text {
  color: var(--secondary-light-text);
}

.secondary-light-bg {
  background-color: var(--secondary-light-bg);
  color: var(--secondary-light-text);
}

.card {
  background-image: linear-gradient(var(--primary-bg-transpararent) 0, var(--secondary-bg-transparent) 80%);
  background-color: transparent !important;
  border: none !important;
  min-height: 200px !important;
  margin: 20px 0 24px 0 !important;
}
.card img {
  width: 100%;
  object-fit: scale-down;
  height: 6rem;
}

.card-title {
  text-decoration: none !important;
  color: var(--secondary-text);
}

.btn-secondary {
  background-color: var(--primary-bg);
}
.btn-secondary:hover {
  background-color: var(--secondary-dark-bg);
}

.image {
  width: 200px;
  height: 200px;
}

@media (max-width: 575px) {
  .offset-xs-4 {
    margin-left: 33.333333%;
  }
}
.font-smaller {
  font-size: 1.35rem;
}

/* ====================================================================================================================
 * *
 * * sebastian.github.io - default
 * *
 * * ====================================================================================================================*/
.form-check-input:checked {
  background-color: var(--primary-dark-bg) !important;
  border-color: var(--primary-dark-bg) !important;
}

.form-check-input:focus {
  border-color: var(--primary-dark-bg) !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--secondary-light-bg-trans) !important;
}

.form-switch .form-check-input:focus {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FC00CE'/%3e%3c/svg%3e") !important;
}

.form-switch .form-check-input:checked {
  background-position: right center;
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

/*# sourceMappingURL=styles.css.map */
