/* ==================================================================================================================
 *
 * poetter-sebastian.github.io - dark mode - 2025
 *
 * ==================================================================================================================*/
body.dark-theme
    a:hover
        span
            color: var(--secondary-dark-text) !important
        color: var(--secondary-dark-text) !important

    .modal-content
        background-color: var(--secondary-bg)
        color: var(--primary-text) !important

    .btn-close
        background-color: var(--primary-bg)
        &:hover
            background-color: var(--secondary-dark-bg)
